html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.uppercase-symbol {
  text-transform: uppercase;
}

.header {
  background-color: #222222;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
.header__navigation {
  display: none;
}
.header_logo {
  margin: 0 41px 0 0;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}
.header__account {
  margin: 0 33px 0 0;
}

.brand {
  display: flex;
  justify-content: center;
  margin: 0 0 65px 0;
}
.brand__title-wrapper {
  padding: 0 0 0 92px;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}
.brand__title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -25px;
}
.brand__subtitle {
  display: block;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.brand__subtitle-pink {
  color: #F16D7F;
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  margin: 0 0 6px 0;
}
.featured__text {
  color: #9F9F9F;
  line-height: 17px;
  margin: 0 0 50px 0;
}
.featured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.featured__cart {
  margin: 0 0 30px 0;
  background-color: #F8F8F8;
  width: 360px;
  position: relative;
}
.featured__cart:hover .featured__img-overlay {
  display: block;
}
.featured__img-wrapper {
  margin: 0 0 25px 0;
}
.featured__img {
  width: 100%;
  min-height: 420px;
}
.featured__img-overlay {
  display: none;
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  min-height: 420px;
}
.featured__add-to-cart {
  position: absolute;
  padding: 10.79px 15.91px 12.27px 13.06px;
  background-color: none;
}
.featured__product {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 13px 18px;
}
.featured__description {
  color: #5D5D5D;
  margin: 0 0 18px 18px;
}
.featured__price {
  margin: 0 0 20px 18px;
  color: #F16D7F;
}
.featured__button {
  text-transform: capitalize;
  padding: 14px 38px;
  align-self: center;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  margin: 0 0 95px 0;
}
.featured__button-wrapper {
  display: flex;
  justify-content: center;
}

.offers {
  margin: 0 auto 97px;
}
.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offers__item {
  background-color: #474040;
  height: 260px;
  width: 360px;
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offers__item-women {
  background-image: url(../img/women.jpg);
}
.offers__item-men {
  background-image: url(../img/men.jpg);
}
.offers__item-kids {
  background-image: url(../img/kids.jpg);
}
.offers__item-accessories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  height: 180px;
  margin: 0;
}
.offers__item-title {
  color: #FFFFFF;
  text-transform: uppercase;
}
.offers__item-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.advantages {
  background-color: #222222;
  height: 340px;
  display: flex;
}
.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.advantages__cart {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__img {
  margin: 0 0 28px 0;
}
.advantages__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 16px 0;
  text-transform: capitalize;
  color: #FFFFFF;
}
.advantages__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  background-image: url(../img/subscribe.jpg);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.subscribe-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe__feedback {
  width: 360px;
  text-align: center;
}
.subscribe__woman {
  margin: 0 0 30px 0;
}
.subscribe__feedback-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}
.subscribe__box {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
}
.subscribe__title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
}
.subscribe__text {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 32px 0;
}
.subscribe__email {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border-radius: 40px 0 0 40px;
  padding: 15px 40px 15px 20px;
  background-color: #E1E1E1;
  border: none;
}
.subscribe__button {
  border-radius: 0 40px 40px 0;
  padding: 16px 16px;
  /*margin: 0 0 0 -5px;*/
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
}
.subscribe__email-wrapper {
  display: flex;
}

.footer {
  background-color: #222222;
}

.footer__copyright {
  padding: 30px 0 30px 0;
  color: #FFFFFF;
  text-transform: capitalize;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
}

.socials__item {
  width: 31.45px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item-wrapper {
  margin: 24px 7.29px 23px 0;
}

.socials__item-wrapper:last-child {
  margin: 24px 0 23px 0;
}

.registration {
  background-color: #FFFFFF;
  margin: 0 0 64px 0;
}

.registration__header {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 59px 0 60px 0;
}

.name {
  margin: 0 0 33px 0;
  display: flex;
  flex-direction: column;
}

.name__header {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 20.5px 0;
  color: #222222;
}

.name__input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 0 0 21px 0;
  border: 1px solid #B1B1B1;
  padding: 13px 0 16px 17.24px;
  width: 341px;
}

.name__input:last-child {
  margin: 0 0 31.5px 0;
}

.name__radio {
  margin: 0 10px 0 0;
  color: #B1B1B1;
}

.name__radio-gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.name__radio-flex {
  display: flex;
}

.name__radio-margin {
  margin: 0 20px 0 0;
}

.name__radio-margin:last-child {
  margin: 0;
}

.login {
  display: flex;
  flex-direction: column;
}

.login {
  margin: 0 0 39px 0;
}

.login__header {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 20.5px 0;
  color: #222222;
}

.login__input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 0 0 21px 0;
  border: 1px solid #B1B1B1;
  padding: 13px 0 16px 17.24px;
  width: 341px;
}

.login__input:last-child {
  margin: 0 0 31.5px 0;
}

.login__radio {
  margin: 0 10px 0 0;
  color: #B1B1B1;
}

.login__radio-flex {
  display: flex;
}

.login__radio-margin {
  margin: 0 20px 0 0;
}

.login__radio-margin:last-child {
  margin: 0;
}

.login__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.submit {
  background-color: #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 29px;
  border: none;
  margin: 0 0 96px 0;
}

.submit__text {
  padding: 0 20px 0 0;
}

.loyalty {
  width: 650px;
}

.loyalty__header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 22px 0;
}

.loyalty__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 21px 0;
}

.loyalty__list-item {
  position: relative;
  margin: 0 0 16px 43px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.loyalty__list-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  left: -43px;
  top: 7px;
}

.your-info {
  width: 360px;
}

.form {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */