.footer {
    background-color: $dark-blue;
}

.footer__copyright {
    padding: 30px 0 30px 0;
    color: $white;
    text-transform: capitalize;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;

}

.socials {
    display: flex;
}

.socials__item {
    width: 31.45px;
    height: 32px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.socials__item-wrapper {
    margin: 24px 7.29px 23px 0;
}

.socials__item-wrapper:last-child {
    margin: 24px 0 23px 0;
}