.footer {
    background-color: $dark-blue;

    &__copyright {
        padding: 30px 0 30px 0;
        color: $white;
        text-transform: capitalize;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
    
    }
    
}