.submit {
    background-color: $dark-pink;
    color: $white;
    text-transform: uppercase;
    padding: 16px 29px;
    border: none;
    margin: 0 0 96px 0;

    &__text {
        padding: 0 20px 0 0;
    }
}

